*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  align-items: end;
  inline-size: 1140px;
  gap: 30px;
}

.result__video-container {
  position: relative;
  inline-size: 711px;
  block-size: 386px;
  margin-block-end: 16px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
  }

.search-form {
  display: flex;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  margin-block-end: 5px;
  font-weight: 400;
  font-size: 18px;
}

.search-form__label {
  cursor: pointer;
  display: flex;
  inline-size: fit-content;
}

.search-form__label-text {
  line-height: 90%;
}

.search-form__textfield {
  appearance: none;
  border: none;
  padding: 0;
  border-bottom: solid 1px #fff;
  border-top: solid 1px #fff;
  inline-size: 225px;
  block-size: 27px;
  background-color: transparent;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-end: 5px;
  inline-size: 19px;
  block-size: 19px;
  border: solid 1px #fff;
}

input[type="checkbox"]:checked + span::before {
  content: "";
  inline-size: 15px;
  block-size: 15px;
  background-color: #fff;
}

.search-form__submit-button {
  align-self: flex-end;
  inline-size: 194px;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
}

.title {
  padding-block-end: 26px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  overflow-y: auto;
  block-size: 298px;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
}

.content__video-card-description-container {
  width: 50%;
}

.content__card-link {
  margin: 2px;
  display: block;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 30px;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
}

.button:focus,
.content__card-link:focus,
.search-form__textfield:focus {
  outline: none;
}

.button:focus-visible,
.content__card-link:focus-visible,
.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button {
  cursor: pointer;
  
  padding: 5px 0;
  border: solid 1px white;
  background-color: transparent;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  color: #fff;
}

.button:active,
.content__card-link:active {
  background-color: #545050;
}

.button:hover,
.search-form__checkbox-list .search-form__label:hover,
.content__card-link:hover {
  text-decoration: underline 1px;
}

.more-button {
  inline-size: 100%;
}
